---
title: О нас
---
{% extends "layouts/_layout.html" %}
{% block content %}
{% include "partials/_breadcrumbs.html"%}


<!-- begin section -->
<div class="section">

  <h2 class="section__title">
    <div>О нас</div>
  </h2>

  <div class="container">
    <div class="about-us">
      <div class="about-us__content">
        <p>Здравствуйте, уважаемый гость нашего сайта!</p>
        <p>Наша компания "Barbatextile" работает на рынке Украины с 2000 года. Основное направление нашей деятельности: оптовая
          торговля тканями для производства изделий домашнего текстиля.В 2009 году мы начали производство постельного белья
          в эксклюзивной дизайнерской упаковке под торговой маркой "Amore".</p>
        <p>Постельное белье – это не просто ткань, на которой Вы спите, или деталь декора, постельное белье - это то , на чем
          Вы проводите треть своей жизни. Именно поэтому, команда профессионалов «Amore», заботится о том, чтобы сделать
          Вашу жизнь комфортнее.</p>
        <p>Многолетний опыт работы в сфере оптовых продаж тканей зарубежных производителей из Пакистана, Китая и Турции для
          постельного белья, одеял, матрасов и подушек помог нам создать высококачественное постельное белье под торговой
          маркой «Amore».</p>
        <p>Мы производим для Вас постельное белье с безупречным пошивом , утонченным дизайном и непревзойденным качеством из
          натуральных тканей в эксклюзивной дизайнерской упаковке. Отличительной особенностью продукции «Amore» является
          то, что она устойчива к многократным стиркам. Такое белье будет долго радовать Вас стойкими и приятными цветами.</p>
        <p>Для детей «Amore» приготовил настоящую сказку - «Amore bambino»: любимые сказочные персонажи, герои мультфильмов
          на их постельном белье создают атмосферу уюта и тепла.</p>
        <p>Широкий ассортимент расцветок порадует даже самого требовательного клиента. Мы предлагаем Вам различные ценовые категории
          на продукцию «Amore», поэтому Вы можете быть уверены, что обязательно подберете белье для себя по демократичным
          и реальным ценам.</p>
        <p>Сделать хороший подарок друзьям или родным несложно. Красивый комплект постельного белья «Amore» придется по вкусу
          каждому и будет долго радовать яркостью красок и прекрасным качеством.</p>
        <p>«Amore» - Это то, на чем приятно просыпаться!</p>
      </div>
      <div class="about-us__img">
        <img src="./img/about-us__img.jpg" alt="Название компании"/>
      </div>
    </div>
  </div>

</div>
<!-- end section -->


{% endblock %}