---
title: Доставка и оплата

shipping: [
{
  title: 'Доставка',
  descr: 'Свой заказ Вы можете получить любым удобным Вам способом:',
  level2: [
    {
      title: 'el1'
    },
    {
      title: 'el2'
    }
  ]
},
{
  title: 'Оплата',
  descr: 'Оплатить заказ можно:',
  level2: [
    {
      title: 'el1'
    },
    {
      title: 'el2'
    },
    {
      title: 'el3'
    }
  ]
}
]
---
{% extends "layouts/_layout.html" %}
{% block content %} 
{% include "partials/_breadcrumbs.html"%}

<!-- begin section -->
<div class="section">

  <h2 class="section__title">
    <div>Доставка и оплата</div>
  </h2>

  <div class="container">

    <div class="section__content">
      
        {% for item in shipping %}
        <div class="section__item">
          {% include "partials/_shipping.html"%}
        </div>
        {% endfor %}

    </div>

  </div>

</div>
<!-- end section -->


{% endblock %}