---
title: Доставка и оплата
---
{% extends "layouts/_layout.html" %}
{% block content %} 
{% include "partials/_breadcrumbs.html"%}

<!-- begin section -->
<div class="section">

  <h2 class="section__title">
    <div>Доставка и оплата</div>
  </h2>

  <div class="container">

    <div class="shipping-pay">
      
      <div class="shipping-pay__shipping">
        <h3>
          Доставка
        </h3>
        <p>
          Свой заказ Вы можете получить любым удобным Вам способом:
        </p>
        <ul>
          <li>доставка Новой Почтой</li>
          <li>любым другим перевозчиком</li>
        </ul>
      </div>

      <div class="shipping-pay__pay">
        <h3>
          Оплата
        </h3>
        <p>
          Оплатить заказ можно:
        </p>
        <ul>
          <li>при помощи online оплаты Приват24</li>
          <li>переводом на карту ПриватБанка</li>
          <li>наложенным платежом при получении заказа</li>
        </ul>
      </div>
      
    </div>

  </div>

</div>
<!-- end section -->


{% endblock %}