---
title: Оптовикам

products: [
{
	title: 'Title1',
	imgUrl: 'foto1.jpg',
	imgTitle: 'Foto',
	descr1: 'descr1',
	descr2: 'descr2',
	bthHref: ''
},
{
	title: 'Title2',
	imgUrl: 'foto2.jpg',
	imgTitle: 'Foto2',
	descr1: 'descr1',
	descr2: 'descr2',
	bthHref: ''
},
{
	title: 'Title3',
	imgUrl: 'foto3.jpg',
	imgTitle: 'Foto3',
	descr1: 'descr1',
	descr2: 'descr2',
	bthHref: ''
},
{
	title: 'Title4',
	imgUrl: 'foto4.jpg',
	imgTitle: 'Foto4',
	descr1: 'descr1',
	descr2: 'descr2',
	bthHref: ''
},
{
	title: 'Title5',
	imgUrl: 'foto1.jpg',
	imgTitle: 'Foto5',
	descr1: 'descr1',
	descr2: 'descr2',
	bthHref: ''
},
{
	title: 'Title6',
	imgUrl: 'foto2.jpg',
	imgTitle: 'Foto6',
	descr1: 'descr1',
	descr2: 'descr2',
	bthHref: ''
}
]

tabsTitle: [
{
	title: 'Популярные',
	dataPage: '0',
	active: 'is-active'
},
{
	title: 'Новинки',
	dataPage: '1'
}
]

newProduct: [
{
	title: 'Title 1',
	srcImg: 'foto1.jpg',
	price: '573',
	descr: 'Lorem ipsum dolor',
	vendorCode: '#43-568-765'

},
{
	title: 'Title 2',
	srcImg: 'foto2.jpg',
	price: '643',
	descr: 'Lorem ipsum dolor',
	vendorCode: '#43-568-765'
	
},
{
	title: 'Title 3',
	srcImg: 'foto1.jpg',
	descr: 'Lorem ipsum dolor',
	price: '763',
	vendorCode: '#43-568-765'
	
},
{
	title: 'Title 4',
	srcImg: 'foto2.jpg',
	price: '597',
	descr: 'Lorem ipsum dolor',
	vendorCode: '#43-568-765'
	
}
]

hitsProduct: [
{
	title: 'Title 1',
	srcImg: 'foto3.jpg',
	price: '573',
	descr: 'Lorem ipsum dolor',
	vendorCode: '#43-568-765'

},
{
	title: 'Title 2',
	srcImg: 'foto4.jpg',
	price: '643',
	descr: 'Lorem ipsum dolor',
	vendorCode: '#43-568-765'
	
},
{
	title: 'Title 3',
	srcImg: 'foto3.jpg',
	descr: 'Lorem ipsum dolor',
	price: '763',
	vendorCode: '#43-568-765'
	
},
{
	title: 'Title 4',
	srcImg: 'foto4.jpg',
	price: '597',
	descr: 'Lorem ipsum dolor',
	vendorCode: '#43-568-765'
	
}
]

partnership: [
{
	img: 'img/partner-1.png',
	title: 'Интернет-магазины',
	amount: 'Отправка от одного комплекта',
	href: '#'
},
{
	img: 'img/partner-2.png',
	title: 'Розничные магазины',
	amount: 'Минимальный заказ от 3000грн',
	href: '#'
},
{
	img: 'img/partner-3.png',
	title: 'Дистрибьюторы',
	amount: 'Заказ от 240 комплектов',
	href: '#'
}
]

reviews: [
{
	name: 'Виктор',
	date: '12 апреля',
	text: 'Я работаю с компанией «Аморе» недавно , чувствуется любовь к своему делу и профессиональный подход.'
},
{
	name: 'Виктор',
	date: '12 апреля',
	text: 'Я работаю с компанией «Аморе» недавно , чувствуется любовь к своему делу и профессиональный подход.'
},
{
	name: 'Виктор',
	date: '12 апреля',
	text: 'Я работаю с компанией «Аморе» недавно , чувствуется любовь к своему делу и профессиональный подход.'
}
]
---
{% extends "layouts/_layout.html" %}
 {% block content %} 
 {% include "partials/_breadcrumbs.html"%}


<!-- begin section -->
<div class="section">

  <h2 class="section__title">
    <div>Оптовикам</div>
  </h2>
  {% include "partials/_wholesalers.html" %}
</div>
<!-- end section -->

<!-- begin section -->
<div class="section">
  <h2 class="section__title"><div>Мы предлагаем вам</div></h2>
  {% include "partials/_features.html" %}
</div>
<!-- end section -->

<!-- begin section -->
<div class="section">
	<h2 class="section__title"><div>Наша продукция</div></h2>
	
  <!-- begin products -->
	<div class="products">
			<!-- begin container -->
			<div class="container products__layout">
				
				{% for item in products %}
					<div class="products__item">
					{% include "partials/_our-product.html" %}
					</div>
				{% endfor %}
	
			</div>
			<!-- end container -->
		</div>
		<!-- end products -->

</div>
<!-- end section -->

<!-- begin section -->
<div class="section">

  <h2 class="section__title"><div>Несколько примеров нашей продукции</div></h2>
  <div class="container">
    {% include "partials/_tabs-slider.html" %}
  </div>

  <div class="section__link">
    <a href="#">Смотреть каталог продукции</a>
  </div>
</div>
<!-- end section -->

<!-- begin section -->
<div class="section">
	<h2 class="section__title"><div>Возможные виды сотрудничества</div></h2>
	<div class="container">
		<div class="section__content">
			{% for key in partnership %}
				{% include "partials/_partnership.html" %}
			{% endfor %}
		</div>
	</div>
</div>
<!-- end section -->

<!-- begin section -->
<div class="section">
	<h2 class="section__title"><div>Что говорят о нас наши покупатели:</div></h2>
	<div class="container">
		<div class="reviews">
			<div class="reviews__items">
				{% for key in reviews %}
					{% include "partials/_review.html" %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- end section -->

<!-- begin section -->
<div class="section">
  {% include "partials/_avantages.html" %}
</div>
<!-- end section -->

<!-- begin section -->
<div class="section">
  <h2 class="section__title">
    <div>Наши контакты</div>
  </h2>

  {% include "partials/_map.html" %}
</div>
<!-- end section -->

<!-- begin section -->
  {% include "partials/_block-ask.html" %}
<!-- end section -->

<!-- begin section -->
<div class="popup">
  <div class="popup__content">
    {% include "partials/_form.html" %}
  </div>
</div>
<div class="overlay"></div>
<!-- end section -->


{% endblock %}