---
title: Оптовикам

products: [
{
	title: 'Title1',
	imgUrl: 'foto1.jpg',
	imgTitle: 'Foto',
	descr1: 'descr1',
	descr2: 'descr2',
	bthHref: ''
},
{
	title: 'Title2',
	imgUrl: 'foto2.jpg',
	imgTitle: 'Foto2',
	descr1: 'descr1',
	descr2: 'descr2',
	bthHref: ''
},
{
	title: 'Title3',
	imgUrl: 'foto3.jpg',
	imgTitle: 'Foto3',
	descr1: 'descr1',
	descr2: 'descr2',
	bthHref: ''
},
{
	title: 'Title4',
	imgUrl: 'foto4.jpg',
	imgTitle: 'Foto4',
	descr1: 'descr1',
	descr2: 'descr2',
	bthHref: ''
},
{
	title: 'Title5',
	imgUrl: 'foto1.jpg',
	imgTitle: 'Foto5',
	descr1: 'descr1',
	descr2: 'descr2',
	bthHref: ''
},
{
	title: 'Title6',
	imgUrl: 'foto2.jpg',
	imgTitle: 'Foto6',
	descr1: 'descr1',
	descr2: 'descr2',
	bthHref: ''
},
]

newProduct: [
{
	dataTab: '1',
	title: 'Title 1',
	nameImg: 'foto1.jpg',
	price: '573',
	descr: 'Lorem ipsum dolor',
	vendorCode: '#43-568-765'

},
{
	dataTab: '1',
	title: 'Title 2',
	nameImg: 'foto2.jpg',
	price: '643',
	descr: 'Lorem ipsum dolor',
	vendorCode: '#43-568-765'
	
},
{
	dataTab: '1',
	title: 'Title 3',
	nameImg: 'foto1.jpg',
	descr: 'Lorem ipsum dolor',
	price: '763',
	vendorCode: '#43-568-765'
	
}
]

partnership: [
{
	img: /src/img/partner-1.png,
	nameClient: 'Интернет-магазины',
	amount: 'Отправка от одного комплекта'
},
{
	img: /src/img/partner-1.png,
	nameClient: 'Интернет-магазины',
	amount: 'Отправка от одного комплекта'
},
{
	img: /src/img/partner-1.png,
	nameClient: 'Интернет-магазины',
	amount: 'Отправка от одного комплекта'
}
]
---
{% extends "layouts/_layout.html" %}
 {% block content %} 
 {% include "partials/_breadcrumbs.html"%}


<!-- begin section -->
<div class="section">

  <h2 class="section__title">
    <div>Оптовикам</div>
  </h2>
  {% include "partials/_wholesalers.html" %}
</div>
<!-- end section -->

<!-- begin section -->
<div class="section">
  <h2 class="section__title"><div>Мы предлагаем вам</div></h2>
  {% include "partials/_features.html" %}
</div>
<!-- end section -->

<!-- begin section -->
<div class="section">
  <h2 class="section__title"><div>Наша продукция</div></h2>
  {% include "partials/_products.html" %}
</div>
<!-- end section -->

<!-- begin section -->
<div class="section">

  <h2 class="section__title"><div>Несколько примеров нашей продукции</div></h2>
  <div class="container">
    {% include "partials/_tabs.html" %}
  </div>

  <div class="section__link">
    <a href="#">Смотреть каталог продукции</a>
  </div>
</div>
<!-- end section -->

<!-- begin section -->
<div class="section">
	<h2 class="section__title"><div>Возможные виды сотрудничества</div></h2>
	<div class="section__content">
		
			<div class="partnership">
				<div class="container">
					{% for key in partnership %}
						{% include "partials/_partnership.html" %}
					{% endfor %}
				</div>
			</div>
		
	</div>
</div>
<!-- end section -->

<!-- begin section -->
<div class="section">
  {% include "partials/_avantages.html" %}
</div>
<!-- end section -->

<!-- begin section -->
<div class="section">
  <h2 class="section__title">
    <div>Наши контакты</div>
  </h2>

  {% include "partials/_map.html" %}
</div>
<!-- end section -->

<!-- begin section -->
  {% include "partials/_block-ask.html" %}
<!-- end section -->

<!-- begin section -->
<div class="popup">
  <div class="popup__content">
    {% include "partials/_form.html" %}
  </div>
</div>
<div class="overlay"></div>
<!-- end section -->


{% endblock %}