<div class="advantages">
  <div class="container advantages__layout">
    <p>Мы производим для Вас постельное белье с безупречным пошивом, утонченным дизайном и непревзойденным качеством из натуральных
      тканей в эксклюзивной дизайнерской упаковке. Отличительной особенностью продукции «Amore» является то, что она устойчива
      к многократным стиркам. Такое белье будет долго радовать Вас стойкими и приятными цветами.</p>
    <p>Постельное белье - это не просто ткань, на которой Вы спите, или деталь декора, постельное белье - это то , на чем Вы
      проводите треть своей жизни. Именно поэтому, команда профессионалов «Amore», заботится о том, чтобы сделать Вашу жизнь
      комфортнее.
    </p>
  </div>
</div>