<div class="contacts">
  <div class="contacts__icon">
    {{mixins.icon('home')}}
  </div>
  <div class="contacts__street">
    <div class="contacts__info-title">
      Главный офис:
    </div>
    <div class="contacts__info-text">
      г.Одесса, ул. Ленинградское шоссе, 27
    </div>
  </div>
  <div class="contacts__wholesale">
    <div class="contacts__info-title">
      Оптовый отдел продаж:
    </div>
    <div class="contacts__info-text">
      Тел: +38(067) 627-77-27
    </div>
  </div>
  <div class="contacts__retail">
    <div class="contacts__info-title">
      Рознычный отдел продаж:
    </div>
    <div class="contacts__info-text">
      Тел: +38(097) 823-74-30
    </div>
    <div class="contacts__info-text"></div>
    Тел: +38(066) 677-68-86
  </div>
</div>