<footer class="footer">
	<div class="container">

		<div class="footer__layout">

			<div class="footer__social">
				<!-- begin social -->
				<div class="social">

					<a href="#" class="social__item">
						<img src="img/insta.svg" width="30" height="30">
					</a>

					<a href="#" class="social__item">
						<img src="img/teleg.svg" width="30" height="30">
					</a>

					<a href="#" class="social__item">
						<img src="img/fb.svg" width="30" height="30">
					</a>
				</div>
				<!-- end social -->
			</div>

			<div class="footer__text">
				<p>© 2009-2018 Компания Аморе - Качественное постельное белье от производителя</p>
			</div>

			<a href="tel:+3(099)9999999" class="footer__tel">+3 (099) 999 99 99</a>

		</div>

	</div>
</footer>