<div class="form">
  <div class="form__link">
    <div class="form__link-promo">
      Остались
      <span>вопросы ?</span>
    </div>
    <div class="form__link-popup">
      <a class="btn-popup" href="#">Задайте их менеджеру</a>
    </div>
  </div>

  <div class="form__content-popup">
    <form>
      <h3 class="form__title">
        Вопрос
      </h3>
      <button class="btn-close" title="Закрыть">Закрыть</button>
      <input type="text" name="name" placeholder="Ваше имя"/>
      <input type="text" name="tel" placeholder="Ваш телефон или e-mail"/>
      <textarea placeholder="Вопрос"></textarea>
      <button class="btn btn--form">Задать вопрос</button>
    </form>
  </div>
  <div class="overlay"></div>
</div>