<header class="header">
	<!-- begin conatiner -->
	<div class="container">

		<div class="header__top">

			<!-- begin social -->
			<div class="social">

				<a href="#" class="social__item">
					<img src="img/insta.svg" width="18" height="18">
				</a>

				<a href="#" class="social__item">
					<img src="img/teleg.svg" width="18" height="18">
				</a>

				<a href="#" class="social__item">
					<img src="img/fb.svg" width="18" height="18">
				</a>
			</div>
			<!-- end social -->
			<div class="header__inner">

				<div class="header__text">Звоните нам Пн.-Пт. с 9:00 до 18:00</div>

				<a href="tel:+38(067)777-77-77" class="header__tel">+38(067)777-77-77</a>
				
			</div>

			<a href="#" class="header__link">Заказать звонок</a>

		</div>

		<div class="header__bottom">
			
			<div class="header__logo">
				<a href="page.html" class="logo">
					Domikus
				</a>
			</div>

			<div class="header__slogan">Качественое постельнное белье от украинского производителя</div>

			<div class="header__bag">
				<div class="bag">
					<div class="bag__title">Корзина</div>
					<div class="bag__number">0</div>
					<div class="bag__btn">
						<a href="#" class="btn">Оформить заказ</a>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end container -->

	<div class="header__nav">
		<!-- begin conatiner -->
		<div class="container">
			{% include "partials/_main-nav.html" %}
		</div>
		<!-- end container -->
	</div>
</header>