{% set 
mainNav = [
	{
		title: 'Каталог'
	},
	{
		title: 'Доставка и оплата',
		level2: [
			{
				title: 'Двойнная'
			},
			{
				title: 'Одиночнная'
			},
			{
				title: 'Семья'
			},
			{
				title: 'Подростковая'
			},
			{
				title: '2-x спальнная'
			}
		]
	},
	{
		title: 'О Нас'
	},
	{
		title: 'Информация'
	},
	{
		title: 'Контакты'
	}
]
%}

<!-- begin main-nav -->
<nav class="main-nav">
	
	<ul class="main-nav__list">
		{% for item in mainNav %}
		<li class="main-nav__item">
			<a href="" class="main-nav__link">{{item.title}}</a>
			
			{% if item.level2 %}
			<ul class="main-nav__level2">
				{% for item in item.level2 %}
				<li><a href="">{{item.title}}</a></li>
				{% endfor %}
			</ul>
			{% endif %}
			
		</li>
		{% endfor %}
	</ul>

</nav>
<!-- end main-nav