{% set 
mainNav = [
	{
		title: 'Каталог',
		href: 'catalog.html',
		level2: [
			{
				title: 'Двойнная',
				href: 'catalog.html'
			},
			{
				title: 'Одиночнная',
				href: 'catalog.html'
			},
			{
				title: 'Семья',
				href: 'catalog.html'
			},
			{
				title: 'Подростковая',
				href: 'catalog.html'
			},
			{
				title: '2-x спальнная',
				href: 'catalog.html'
			}
		]
	},
	{
		title: 'Доставка и оплата',
		href: 'shipping-pay.html'		
	},
	{
		title: 'О Нас',
		href: 'about.html'
	},
	{
		title: 'Оптовикам',
		href: 'wholesalers.html'
	},
	{
		title: 'Контакты',
		href: 'contacts.html'
	}
]
%}

<!-- begin main-nav -->
<nav class="main-nav">
	
	<ul class="main-nav__list">
		{% for item in mainNav %}
		<li class="main-nav__item">
			<a href="{{item.href}}" class="main-nav__link">{{item.title}}</a>
			
			{% if item.level2 %}
			<ul class="main-nav__level2">
				{% for item in item.level2 %}
				<li><a href="{{item.href}}">{{item.title}}</a></li>
				{% endfor %}
			</ul>
			{% endif %}
			
		</li>
		{% endfor %}
	</ul>

</nav>
<!-- end main-nav