<!-- begin main-nav -->
<nav class="main-nav">

	<ul class="main-nav__list">
		<!-- <li class="main-nav__item"><a href="" class="main-nav__link">Главная</a></li> -->
		<li class="main-nav__item">
			<a href="" class="main-nav__link">
			Каталог

			<ul class="main-nav__level2">
				<li><a href="">Евро</a></li>
				<li><a href="">Двойнная</a></li>
				<li><a href="">Одиночнная</a></li>
				<li><a href="">Семья</a></li>
				<li><a href="">Подростковая</a></li>
				<li><a href="">2-х спальнная</a></li>
			</ul>

			</a>
		</li>

		<li class="main-nav__item"><a href="" class="main-nav__link">Доставка и оплата</a></li>
		<li class="main-nav__item"><a href="" class="main-nav__link">О Нас</a></li>
		<li class="main-nav__item"><a href="" class="main-nav__link">Информация</a></li>
		<li class="main-nav__item"><a href="" class="main-nav__link">Контакты</a></li>
	</ul>

</nav>
<!-- end main-nav -->