<!-- begin slider -->
<div class="slider">
	<!-- begin slider__slides -->
	<div class="slider__slides js-slider">

		{% for key in newProduct %}
		<!-- begin slider__item -->
		<div class="slider__item js-slide" data-tab="{{key.dataTab}}">

			<!-- begin new-product -->
			<div class="new-product">
				
				<div class="new-product__img">
					<img src="img/{{key.nameImg}}" width="300" height="300">
					<div class="counter"></div>
				</div>

				<div class="new-product__content">
					<div class="new-product__title">{{key.title}}</div>
					
					<div class="new-product__price">Цена:{{key.price}}</div>

					<div class="new-product__inner">
						<div class="new-product__descr">{{key.descr}}</div>
						<div class="new-product__vendor-code">{{key.vendorCode}}</div>
					</div>

					<a href="#" class="new-product__btn btn">В корзину</a>
				</div>
				
			</div>
			<!-- end new-product -->

		</div>
		<!-- end slider__item -->
		{% endfor %}

	</div>
	<!-- end slider__slides -->
</div>
<!-- end slider -->