<ul class="partnership__list">
  <li class="partnership__item">
    <p>Клиент</p>
    <p>Интернет-магазины</p>
    <p>Сервис</p>
    <p>Отправка от одного комплекта</p>
    <div class="btn btn__partnership">Получить прайс</div>
  </li>
  <li class="partnership__item">
    <p>Клиент</p>
    <p>Розничные магазины</p>
    <p>Сервис</p>
    <p>Минимальный заказ от 3000грн.</p>
    <div class="btn btn__partnership">Получить прайс</div>
  </li>
  <li class="partnership__item">
    <p>Клиент</p>
    <p>Дистрибьюторы</p>
    <p>Сервис</p>
    <p>Заказ от 240 комплектов</p>
    <div class="btn btn__partnership">Получить прайс</div>
  </li>
</ul>