<!-- begin product-card -->
<div class="product-card">
	
	<div class="product-card__img">
		<img src="img/{{item.srcImg}}" width="100%" height="auto">
	</div>

	<div class="product-card__content">
		<div class="product-card__title">{{item.title}}</div>
		
		<div class="product-card__price">Цена:{{item.price}}</div>

		<div class="product-card__inner">
			<div class="product-card__descr">{{item.descr}}</div>
			<div class="product-card__vendor-code">{{item.vendorCode}}</div>
		</div>

		<a href="#" class="product-card__btn btn">В корзину</a>
	</div>
	
</div>
<!-- end product-card -->