<!-- begin products -->
<div class="products">
	<!-- begin container -->
	<div class="container products__layout">
		
		{% for key in products %}
			<div class="products__item product">

				<div class="product__title">{{key.title}}</div>

				<div class="product__img">
					<img src="img/{{key.imgUrl}}" title="{{key.imgTitle}}" width="300" height="300">
				</div>

				<div class="product__descr">{{key.descr1}}</div>
				<div class="product__descr">{{key.descr2}}</div>

				<a href="{{key.btnHref}}" class="product__btn btn">Пепейти в раздел</a>

			</div>
		{% endfor %}

	</div>
	<!-- end container -->
</div>
<!-- end products -->