<!-- begin tabs -->
<div class="js-tabs tabs">
	<!-- begin tabs__header -->
	<ul class="tabs__header js-index">
		{% for key in tabsTitle %}
		<li class="js-tabs-label tabs__title {{key.active}}" data-page="{{key.dataPage}}">{{key.title}}</li>
		{% endfor %}
	</ul>
	<!-- end tabs__header -->

	<!-- begin js-tabs-container -->
	<div class="js-tabs-container tabs__container">

		<!-- begin tabs__content -->
		<div class="tabs__content js-tabs-content">

			<!-- begin slider -->
			<div class="slider">
				<!-- begin slider__slides -->
				<div class="slider__slides js-slider">

					{% for item in newProduct %}
					<!-- begin slider__item -->
					<div class="slider__item js-slide">
						{% include "partials/_product-card.html"%}
					</div>
					<!-- end slider__item -->
					{% endfor %}

				</div>
				<!-- end slider__slides -->
			</div>
			<!-- end slider -->

		</div>
		<!-- end tabs__content -->

		<!-- begin tabs__content -->
		<div class="tabs__content js-tabs-content">

			<!-- begin slider -->
			<div class="slider">
				<!-- begin slider__slides -->
				<div class="slider__slides js-slider">

					{% for item in hitsProduct %}
					<!-- begin slider__item -->
					<div class="slider__item js-slide">
						{% include "partials/_product-card.html"%}
					</div>
					<!-- end slider__item -->
					{% endfor %}

				</div>
				<!-- end slider__slides -->
			</div>
			<!-- end slider -->

		</div>
		<!-- end tabs__content -->

	</div>
	<!-- end js-tabs-container -->
</div>
<!-- end tabs -->
