<div class="container">
  <div class="wholesalers">
    <div class="wholesalers__wrap">

      <div class="wholesalers__discr">
        <h2 class="wholesalers__title">
          <span>Заказывайте оптовые комплекты</span>
          постельного белья от производителя
        </h2>

        <div class="wholesalers__discr-top">
          <h3 class="title-h3">
            Постельное белье оптом от Amore
          </h3>
          <p>Трудно представить крепкий и здоровый сон на серых простынях. Конечно же, отдых можно получить, уснув и на полу,
            но как приятно засыпать в цветочных красках уютных простыней и пододеяльников, когда их мягкие волокна касаются
            твоей кожи и дарят тебе минуты комфорта и покоя. Наш интернет-магазин предлагает постельное белье оптом по самым
            доступным ценам, а главное – это высокое качество и натуральный состав каждого изделия. В нашем каталоге вы сможете
            найти любые расцветки, рисунки и заказать необходимые вам размеры.</p>
          <p>Треть своей жизни человек проводит во сне и здесь очень важно, чтобы этот период проходил как можно комфортнее.
            Большой кровати и наличие подушек будет недостаточно, для получения хорошего отдыха, поэтому наши домохозяйки
            покупают постельное белье, которое не только украшает и дополняет вашу спальную комнату, но и делает ваш сон
            более мягким и приятным. Магазин постельного белья оптом Amore обеспечит вас любым комплектом и в любом количестве.
            Мы гарантируем качество каждого комплекта, ведь наше производство построено исключительно на натуральных материалах,
            а наша цель – удовлетворения ваших потребностей в качественном и недорогом постельном белье.</p>
        </div>

        <div class="wholesalers__discr-bottom">
          <h3 class="title-h3">
            Как заказать оптовые поставки? Что для этого нужно?
          </h3>
          <p>Купить постельное белье оптом в Харькове, Киеве, Днепропетровске, Одессе или других городах Украины теперь не проблема.
            Для наших частых клиентов действует система скидок и при больших заказах, вы получите хорошие скидки. Вам нужно
            просто позвонить по мобильному телефону, указанному справа. Постельное белье оптом от производителя в Украине
            это:</p>
          <ul>
            <li>Большой выбор цвета и дизайна;</li>
            <li>Идеальное качество пошива и размерной части изделий;</li>
            <li>Высокая износостойкость;</li>
            <li>Гарантия длительного срока службы без потерь внешнего вида;</li>
            <li>Безопасный и натуральный состав;</li>
            <li>Доступные цены и программа лояльности.</li>
          </ul>
          <p>Интернет-магазин Amore станет вашим напарником в обеспечение домашнего уюта и комфорта для тысяч семей.</p>
        </div>

      </div>

      {% include "partials/_callback.html" %}

    </div>

  </div>
</div>