.footer 
	padding: 40px 0
	color: $white
	background-color: $blue

	&__layout
		display: flex
		justify-content: space-between

	&__tel
		font-size: 18px
		color: $white
		border-bottom: 2px solid $white