.main-nav 
	padding: 20px 0
	font-size: 18px
	line-height: 1.2

	&__list
		display: flex
		justify-content: space-between

	&__level2
		display: none
	
	&__link
		font-family: 'Roboto', sans-serif
		color: $white
		&:hover
			border-bottom: 2px solid $white