.part
  display: flex
  flex-direction: column
  align-items: center
  width: 300px

  &__img
    width: 250px
    height: 250px
    margin-bottom: 20px

  &__item
    width: 100%
    padding: 7px 0

    text-align: center

    border-bottom: 1px solid #000

    &--gold
      font-weight: bold
      color: $gold

    &--blue
      color: $blue

  &__btn
    width: 100%
    margin-top: 20px