.partnership

  &__list
    display: flex

    li 
      display: block

    img 
      width: 248px
      height: 248px
    
    p 
      border-bottom: 1px solid #000

  &__item
    width: 300px
    height: 480px
    padding-top: 350px

    text-align: center

    background: url("../../img/partner-1.png") no-repeat top center