.title-h3
  margin-bottom: 20px

  font-size: 24px


.callback
  width: 330px
  height: 350px
  padding: 3px

  text-align: center

  border: 1px solid $gold
  border-radius: 5px
  box-shadow: 0 0 9px $gold

  &__title
    padding: 15px
    margin-bottom: 3px

    background-color: $redLight

  &__text
    padding: 15px

    color: $white

    background-color: $red

  &__tel
    height: 75px
    padding: 15px
    margin: 0 20px
    margin-bottom: 5px

    border-bottom: 1px dashed $black
    a
      color: $black
      font-size: 22px
    svg
      fill: $gold
      width: 50px
      height: 50px
      vertical-align: middle

  p 
    display: inline-block
    width: 260px

  &-form
    &__input
      width: 90%
      padding: 5px
      margin: 10px 10px
      border: 1px solid $gray
      border-radius: 10px

    .btn--callback-form
      width: 90%
      margin: 0 10px

      font-size: 20px
  

.wholesalers

  &__wrap
    display: flex

  &__title
    width: 600px
    margin-bottom: 25px

    font-size: 28px
    line-height: 40px
    text-transform: uppercase
    font-weight: normal
    span 
      font-weight: bold
      color: $red

  &__discr
    width: 680px
    margin-right: 60px
    margin-bottom: 45px
    p 
      margin-bottom: 15px
    ul 
      padding-left: 45px
      margin-bottom: 30px
      list-style: disc
    &-top 
      margin-bottom: 30px
