.icon-1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-3 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-4 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-5 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-6 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: #3B5998;
}
.icon-home {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-insta {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-teleg {
  width: 1em;
  height: 1em;
  fill: #139BD0;
}
